body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
   }
   
   .calculator {
    width: 200px;
    height: 300px;
    padding: 20px;
    border: 1px solid rgb(207, 145, 145);
    background-color: #fff;
   }
   
   .display {
    width: 100%;
    height: 50px;
    text-align: right;
    margin-bottom: 20px;
   }
   
   .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
   }
   
   button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    cursor: grab;
   }
   
   button:hover {
    background-color: #eee;
   }
   
   .equals {
    grid-column: span 4;
    background-color: #4caf50;
    color: #fff;
   }
   
   .equals:hover {
    background-color: #3e8e41;
   }
   
   .clear {
    grid-column: span 4;
    background-color: #f44336;
    color: #fff;
   }
   
   .clear:hover {
    background-color: #e53935;
   }

   #history {
    height: 306px;
    overflow-y: scroll;
    font-size: 1.1em;
    background: #778899;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 8px;
    width: 300px;
  }
  
  #history::-webkit-scrollbar {
    width: 0;
  }
  
  #history h3 {
    padding: 10px 0px;
    font-size: 1.2em;
  }
  
  #history p:last-child {
    font-size: 1.3em;
    font-weight: 500;
    color: #DEB887;
  }